<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
</head>
<body>
<table style="border: 1px solid grey;
              width: 600px"
       th:each="user : ${allUsers}">
  <tr>
    <td style="width: 84px" th:text="${user.getUsername()}"> user</td>
    <td style="width: 84px" th:text="${user.getEmail()}"> userEmail</td>
    <td style="width: 84px" th:text="${user.getRoles()}"> userRoleSet</td>
    <td style="width: 84px">
      <form th:method="GET" th:action="@{/edit/{id}(id=${user.getId()})}">
        <input type="submit" value="Edit"/>
      </form>
    </td>
    <td style="width: 84px">
      <form th:method="POST" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
</table>
<br/>
<hr/>
<a href="/new">Create new user</a>
<br/>
<hr/>
<a href="/logout">Logout</a>
</body>
</html>