<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--      xmlns="http://www.w3.org/1999/html">-->
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h1>New User</h1>
<form th:method="POST" th:action="@{/new}" th:object="${userForm}">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username">
    </br>
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email">
    </br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password">
    </br>
    <label for="selectedRole">Select role: </label>
    <select multiple id="selectedRole" name="selectedRole">
        <option th:each="role : ${roles}" th:value="${role.id}"
                th:text="${role.name}">
        </option>
    </select>
    </br>
    <input type="submit" value="Sign Up!"/>
</form>
</body>
</html>